
li {
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 3px black;
    display: inline;
    background-color: lightgrey;
    padding: 10px;
    padding-bottom: 0px;
}

li:hover {
    background-color: azure;
    border-bottom: solid 3px blue;
}