#email {
    background-color: antiquewhite;
}

.first-para {
    font-size: 1.3em;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
}




td {
    color: red;
    font-weight: bold;
}

h1 {
    text-decoration: underline;
}

button {
    background-color: azure;
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: black 1px solid;
}