.box-dim-200-200 {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 40px;
}

#box0 {
    border: 5px solid red;
    background-color: pink;
}
#box1 {
    border: 5px solid blue;
    background-color: lightblue;
}

#box0:hover, #box1:hover {
    border-radius: 100px;
}

